@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center align-content-center min-vh-100">
    <h1>Empowering Healthcare with Efficiency and Care.</h1>
    <p>MedTrackPro simplifies healthcare management by connecting patients, doctors, and administrators in a seamless and secure platform.</p>
    <form class="d-flex gap-3 justify-content-center">
        <a asp-action="Login" asp-controller="Account" class="btn btn-outline-primary rounded-2">Access Your Account</a>
        <a asp-controller="Account" asp-action="Register"  class="btn btn-outline-secondary rounded-2">Sign Up Now</a>
    </form>
</div>
