@model DataLibrary.ViewModels.Account.LoginViewModel


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
                <div class="text-center">
                    <h1>Login Page</h1>
                </div>
                <form method="post" asp-controller="Account" asp-action="Login">
                <div class="mt-2">
                        <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" class="form-control rounded-2" placeholder="Email" type="text" />
                    </div>
                <div class="mt-2">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" class="form-control rounded-2" placeholder="Password" type="password" />
                    </div>
                <div class="d-flex align-items-center mt-2">
                    <input asp-for="RememberMe" class="rounded-2" type="checkbox" />
                    <label asp-for="RememberMe" class="">Remember Me</label>
                </div>
                <dnt-captcha asp-captcha-generator-max="30"
                             asp-captcha-generator-min="1"
                             asp-captcha-generator-language="English"
                             asp-captcha-generator-display-mode="NumberToWord"
                             asp-use-relative-urls="true"
                             asp-placeholder="Security code as a number"
                             asp-validation-error-message="Please enter the security code as a number."
                             asp-too-many-requests-error-message="Too many requests! Please wait a minute!"
                             asp-font-name="Tahoma"
                             asp-font-size="20"
                             asp-fore-color="#333333"
                             asp-back-color="#FCF6F5FF"
                             asp-text-box-class="form-control"
                             asp-text-box-template="<div class='input-group'><span class='input-group-text'><span class='bi-lock'></span></span>{0}</div>"
                             asp-validation-message-class="text-danger"
                             asp-refresh-button-class="bi-arrow-counterclockwise btn-lg"
                             asp-show-refresh-button="true"
                             asp-dir="ltr" />
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary rounded-2">Login</button>
                </div>
                </form>
            </div>
    </div>
</div>